.twin-toggle-container {
    position: absolute;
    top: 10%; /* Khoảng cách từ trên cùng */
    right: 25%; /* Khoảng cách từ bên phải */
    transform: translateX(25%); /* Dịch chuyển về bên trái để căn chỉnh */
    cursor: pointer;
    margin: 0;
    z-index: 1;
}


.twin-toggle {
    position: relative;
    width: 130px; /* Kích thước mới */
    height: 20px; /* Kích thước mới */
    /* background: linear-gradient(to right, #4CAF50 50%, #F44336 50%); */
    border-radius: 10px; /* Điều chỉnh bán kính viền để phù hợp với kích thước mới */
    display: flex;
    align-items: center;
    padding: 4px; /* Điều chỉnh padding cho phù hợp */
    transition: background 0.3s ease;
}

.twin-toggle.left {
    background: #b870fc; 
}

.twin-toggle.right {
    background: #ff0000; 
}

.twin-toggle.center {
    background: linear-gradient(to right, #ff0101 50%, #8c44ff 50%);
}

.twin-toggle-knob {
    width: 40px; /* Kích thước mới */
    height: 35px; /* Kích thước mới */
    background: #fff;
    border-radius: 20%;
    position: absolute;
    transition: transform 0.3s ease;
}

.twin-toggle.left .twin-toggle-knob {
    transform: translateX(0);
}

.twin-toggle.right .twin-toggle-knob {
    transform: translateX(90px); /* Điều chỉnh để phù hợp với kích thước mới */
}

.twin-toggle.center .twin-toggle-knob {
    transform: translateX(40px); /* Điều chỉnh để phù hợp với kích thước mới */
}

.twin-toggle-labels {
    display: flex;
    justify-content: space-between;
    width: 150px; /* Điều chỉnh cho phù hợp với kích thước mới */
    margin-top: 0px;
    font-size: 12px; /* Điều chỉnh kích thước font cho phù hợp */
    color: #ffffff;
    cursor: pointer;
}
