/* Ensure the overall layout behaves correctly */
body {
  font-family: 'Roboto', sans-serif;
}

.sidebar-closed {
  transform: translateX(-240px);
}
.chart-container {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
}